*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body{
	overflow-x: hidden;
	font-family: "Noto Sans", sans serif;
	font-style: normal;
	color: white;


}

/*CAPÇELERA*/

header{
	width: 100%;
	height: auto;
	background-color: #d0c06b;
	display: flex;

}


#logotip{
	width: 100%;
	height: auto;
	/*padding: 2vh;*/
	padding: 2.5vh;
	/*background-color: red;*/
	
}

#logotip img{
	width: 20%;
}

nav{
	width: 50%;
	display: flex;

}


#menú{
	height: auto;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	list-style: none;
	padding: 4.5vh 56vh 1vh 1vh;
	/*background-color: yellow;*/
}

.linkmenu{
	width: auto;
	margin: 5%;
	font-size: 1.2rem;
	/*background-color: red;*/
}

.linkmenu a {
	text-decoration: none;
	color: white;
	padding: 100px 50px 39px 50px;
	/*background-color: pink;*/

} 

.linkmenu a:hover{
	color: black;
} 

/*INDEX/HOME*/
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#about{
	width: 100%;
	height: auto;
	/*background-color: #9D2F2F;*/
	display: flex;
	padding: 10%;
	flex-direction: row;
	background-image: url(../Media/badalona5.jpg);



}

#about p{
	background-color: #9D2F2F;
	padding: 5%
}



h2{
	font-size: 50pt;
	margin-right: 30%;
}

#about h2{
	background-color:  #9D2F2F;
	padding: 5%;
}

p{

	font-size: 1.2rem;


}

/*PROGRAMACIÓ*/

.dates{
	margin-bottom: 10px;
	font-size: 1.5rem;
	text-align: center;
}

#grups{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	background-color: #9D2F2F;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5% 10% 5% 10%;
}

.grup{
	width: 40%;
	height: auto;
	padding-bottom: 10%;

}

.grup p{

	margin-top: 10px
}

img {
	width: 100%;
}

h4{
	font-size: 20pt;
}


/*CONTACTE*/

.contacte {
	width: 100%;
	height: auto;
	background-color: #9D2F2F;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	flex-direction: row;
	padding:5% 10% 5% 10%;
}

.formulari {
	width: 50%;
	/*background-color: white;*/
}

label{
	font-size: 1.5rem;
}

input{
	width: 500px;
	height: 30px;
}


ul {
  list-style: none;
}

li {
	font-size:1rem;
	padding-bottom:2%;
}


/*FOOTER*/

footer{
	background-color: #333333;
	padding: 4%;
}

h3{
	font-size: 1.5rem;
	margin-bottom: 10px ; 
	margin-top: 10px;

}


.footer-caixa{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.footer-section-about{
	width: 25%;
}

.footer-section-about p{
	font-size: 1rem;
	
}

.footer-caixa p {

	font-size: 1rem;

}

.footer-section-links{
	font-size: 1rem;

}

.footer-section-links a{ 
	text-decoration: none;
	color: white
	
}

.footer-section-links a:hover{


	color:#9D2F2F
	
}



@media screen and (max-width: 768px) {
	#menú {
		flex-direction: column;
		width: 100%;
		margin-left: -50px

	}

	h2{
		margin-bottom: 20px;
	}

	h3{
		font-size: 2.5rem;
		margin-bottom: 20px;
	}

	header {
		flex-direction:column;
		
	}

	p{
		font-size: 1.5rem;
	}
	

	nav{
		padding-left: 35%
	}


	#about {
		flex-direction:column;
		padding-top:20%;
		padding-bottom:20%;
	}

	#about{
		flex-direction: column;
	}

	.footer-caixa{
		flex-direction: column;
	}

	.footer-caixa p {
		font-size: 1.5rem;
	}

	.footer-section-about{
		width: 100%;
	}

	.linkmenu{
		padding: 5px;
		font-size: 2rem;
		line-height:3rem;

	}

	.linkmenu a {
		padding: 1px ;
	}


	#logotip img{


		width: 80%
	}


	#logotip{
		margin-left: 30px
	}

	#about h2{
		width: 90%;
	}



	#grups{
		flex-direction:column;

	
	}

	.grup{
		width: 100%;
	}

	.dates{
		text-align: center;
	}

	input{

		width: 200%
	}

	.formulari{
		padding-bottom: 50px
	}

	h4{
		font-size: 2rem;
	}

	.dates{

		font-size: 2rem;

	}

	label{
		font-size: 2rem;
	}

	button{
		font-size: 1.5rem;
	}


}